@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Nunito:wght@400;600&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

#roleSelectionSection {
  background-color: #f4f4f4; /* Light gray background */
}

.selection-card {
  width: 90%;
  max-width: 300px;
  height: auto;
}

.font-jost {
  font-family: 'Jost', sans-serif;
}
