<div class="fixed top-4 right-4 z-50 w-80 space-y-2">
  <div
    *ngFor="let notification of notifications"
    [@slideInOut]
    class="notification p-4 rounded-lg shadow-lg border-l-4 flex items-start"
    [ngClass]="[getNotificationClass(notification.type), getUrgentClass(notification.isUrgent)]"
  >
    <div class="flex-shrink-0 mr-3">
      <span class="material-icons">{{ getNotificationIcon(notification.type) }}</span>
    </div>
    <div class="flex-grow">
      <h4 class="font-bold mb-1">{{ notification.title }}</h4>
      <p class="text-sm">{{ notification.content }}</p>
      <div class="text-xs text-gray-500 mt-1">
        {{ notification.timestamp | date:'shortTime' }}
      </div>
    </div>
    <button
      class="ml-2 text-gray-500 hover:text-gray-700 focus:outline-none"
      (click)="dismiss(notification)"
    >
      <span class="material-icons text-sm">close</span>
    </button>
  </div>
</div>
